<div class="row play-game-root">
    <div class="player-info-section">
        <div class="top-spacer"></div>
        <div class="player-info-root" player-info player-id="ids.current" is-turn="isCurrentPlayerTurn" captured-pieces="capturePiecesOfPlayerId(ids.opponent)"></div>
        <button ng-click="submitMove()" ng-disabled="disableSubmitMove()" class="game-flow-button win-type-x-large">
            Submit <span class="show-for-medium-up">move</span>
        </button>
    </div>
    <div class="board">
        <div ng-repeat="rowCol in rowCols" class="board-space" ng-class="getBoardSpaceClasses(rowCol.row, rowCol.col)">
            <div class="content-outer-wrapper">
                <div class="content-inner-wrapper">
                    <div class="board-space-content"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="player-info-section">
        <div class="top-spacer"></div>
        <div player-info class="player-info-root" player-id="ids.opponent" is-turn="isOpponentTurn" captured-pieces="capturePiecesOfPlayerId(ids.current)"></div>
        <button ng-click="clearMove()" ng-disabled="disableClearMove()" class="game-flow-button win-type-x-large">
            Reset <span class="show-for-medium-up">move</span>
        </button>
    </div>    
</div>

<div>
    <!--
    <p ng-if="currentPlayerHasWon()">You won!</p>
    <p ng-if="opponentHasWon()">You lost!</p>-->
</div>
