.board-row {
	float: left;
	clear: both;
	width: 100%;
	height: 8%;
}

.board {
	width: 100%;
	height: 100%
}

.board-space {
	$board-side-length: 50px;

	width: 5%;
	height: 100%;
	background: blue;
	float: left;

	$border-width: 2px;
	border: $border-width solid black;

	&.hidden {
		/* If we don't have this invisible border, there will be an odd offset in the board. 
		   It seems that borders act like margin, not padding. */
		border: $border-width solid transparent;
		background: transparent;
	}

	&.goal {
		background: green;
	}

	&.active-move {
		background: yellow;
	}

	&.possible-move {
		background: cyan;
	}

	@mixin board-text() {
		font-size: 2.5em;
		text-align: center;
		vertical-align: middle;
		line-height: $board-side-length;
		display: inline-block;
	}

	&.knight {
		@include board-text();
	}

	&.pawn {
		@include board-text();
	}

	&.knight::before {
		content: 'K';
	}

	&.pawn::before {
		content: 'P';
	}

	&.friendly {
		color: white;
	}

	&.hostile {
		color: black;
	}
}



