.play-game-root {

	$row-count: 12;
	$col-count: 17;

	@include full-size();

	display: flex;

	@mixin squares-per-row($squareCount) {
		$wrapped-board-space-side-length: (100%/$squareCount);

		width: $wrapped-board-space-side-length;
		padding-bottom: $wrapped-board-space-side-length;
	}

	.board-space {
		float: left;
		position: relative;
		margin: 0%;

		/* This breaks on different screen sizes */
		$board-side-length: 50px;

		$background-color: blue;
		background: $background-color;

		&:nth-child(odd) {
			background: lighten($background-color, 10%);
		}

		&.hidden {
			background: transparent;
		}

		&.goal {
			$background-color: green;
			background: $background-color;

			&:nth-child(odd) {
				background: lighten($background-color, 10%);
			}
		}

		&.active-move {
			$background-color: yellow;
			background: $background-color;

			&:nth-child(odd) {
				background: lighten($background-color, 10%);
			}
		}

		&.possible-move {
			$background-color: cyan;
			background: $background-color;

			&:nth-child(odd) {
				background: lighten($background-color, 10%);
			}
		}

		/* I have a very weak understanding of why this works. It's taken from http://stackoverflow.com/questions/20456694/grid-of-responsive-squares */
		.content-outer-wrapper {
			position: absolute;

			$padding: 10%;
			height: 100% - $padding * 2;
			width: 100% - $padding * 2;
			padding: $padding;

			text-align: center;

			.content-inner-wrapper {
				@include full-size();
				display: table;

				.board-space-content {
					@include full-size();
					display: table-cell;
					vertical-align: middle;
					
					/* This seems to be reasonable but I wonder if it's brittle. */
					font-size: 2vw;
				}
			}
		}

		&.knight {
			.board-space-content::before {
				content: 'K';
			}
		}

		&.pawn {
			.board-space-content::before {
				content: 'P';
			}
		}

		&.friendly {
			color: white;
		}

		&.hostile {
			color: black;
		}
	}

	@media #{$small-up} {

		flex-direction: column;

		.board {
			@include grid-row();

			width: 100%;
			height: 92%;

			.board-space {
				@include squares-per-row(17);
			}

			transform: rotate(90deg);

			.board-space-content {
				transform: rotate(-90deg);
			}
		}

		.player-info-wrapper {
			@include grid-column(
				$collapse: true,
				$columns: 6
			)
		}

		.move-button-wrapper {
			@include grid-column(
				$collapse: true,
				$columns: 3
			)
		}

		$player-info-root-width: 50%;
		.player-info-root {
			width: $player-info-root-width;
			float: left;
		}

		.game-flow-button {
			width: (100% - $player-info-root-width);
			height: 100%;
		}
	}

	@media #{$large-up} { 
		$board-width: 71%;

		flex-direction: row;

		.board {
			width: $board-width;
			height: 100%;
			float: left;

			transform: rotate(0deg);

			.board-space-content {
				transform: rotate(0deg);
			}
		}

		.player-info-section {
			width: (100-$board-width)/2;
			height: 100%;
		}

		/* The way I'm vertically aligning the player info col feels shitty but I'm not sure how else do to it. */
		.top-spacer {
			height: 38%;
		}

		.player-info-root {
			height: 49%;
			float: none;
		}

		.game-flow-button {
			width: 100%;
			height: 13%;
		}
	}
}