<div class="row play-game-root">
    <div class="player-info-col">
        <div player-info player-id="ids.current" is-turn="isCurrentPlayerTurn"></div>
    </div>
    <div class="board">
        <div ng-repeat="col in cols" class="board-row">
            <div ng-repeat="row in rows" class="board-space" ng-class="getBoardSpaceClasses(row, col)" ng-click="onClickBoardSpace(row, col)">
            </div>
        </div>
    </div>
    <div class="player-info-col">
        <div player-info player-id="ids.opponent" is-turn="isOpponentTurn"></div>
    </div>    
</div>

<div>
    <!--<p ng-if="isCurrentPlayerTurn()">Your turn</p>
    <p ng-if="isOpponentTurn()">Waiting on other player.</p>
    <p ng-if="currentPlayerHasWon()">You won!</p>
    <p ng-if="opponentHasWon()">You lost!</p>-->
    
</div>
