.play-game-root {

	$row-count: 12;
	$col-count: 17;

	@include full-size();
	
	.board-row {
		width: 100%;
		height: 100%/$row-count;
	}

	$board-width: 80%;

	.board {
		width: $board-width;
		height: 100%;
		float: left;
	}

	.board-space-wrapper {
		width: (100%/$col-count);
		height: 100%;
		float: left;
	}

	.board-space {
		/* This breaks on different screen sizes */
		$board-side-length: 50px;

		$wrapped-board-space-side-length: 93%;

		width: $wrapped-board-space-side-length;
		height: $wrapped-board-space-side-length;
		
		background: blue;

		&.hidden {
			background: transparent;
		}

		&.goal {
			background: green;
		}

		&.active-move {
			background: yellow;
		}

		&.possible-move {
			background: cyan;
		}

		@mixin board-text() {
			font-size: 2.5em;
			text-align: center;
			vertical-align: middle;
			line-height: $board-side-length;
			display: inline-block;
		}

		&.knight {
			@include board-text();
		}

		&.pawn {
			@include board-text();
		}

		&.knight::before {
			content: 'K';
		}

		&.pawn::before {
			content: 'P';
		}

		&.friendly {
			color: white;
		}

		&.hostile {
			color: black;
		}
	}

	.large-up-root {
		@extend .show-for-large-up;
		@include full-size();
	}

	.medium-down-root {
		@extend .show-for-medium-down;	
		@include full-size();
	}

	@media #{$small-up} {

	}

	@media #{$large-up} { 
		.player-info-col {
			width: (100-$board-width)/2;
			height: 100%;
			float: left;
		}

		/* The way I'm vertically aligning the player info col feels shitty but I'm not sure how else do to it. */
		.top-spacer {
			height: 38%;
		}

		.player-info-root {
			height: 49%;
		}

	}
}