$include-html-type-classes: false;
$include-html-global-classes: false;

@import 'foundation';

$show-row-borders: false;
$profile-pic-height: 10em;

.app-grid {
	padding: 2em;
	display: -ms-grid;
	-ms-grid-columns: auto 1fr auto;
	-ms-grid-rows: auto auto;
}

.app-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.johnson-box {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

@mixin round-image($side-length) {
	border-radius: $side-length / 2;
}

.profile-pic {
	width: $profile-pic-height;
	height: $profile-pic-height;
	@include round-image($profile-pic-height);
}

.johnson-box-has-user-root {
	display: -ms-grid;
	-ms-grid-columns: auto auto;
	-ms-grid-rows: $profile-pic-height / 2 auto 1fr;	
}

@import '../src/features/play-game/play-game.scss';
@import '../src/features/game-list-entry/game-list-entry.scss';

.user-name {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}

.user-avatar {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	padding-left: 1em;
}

body {
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
