<div class="games">
    <div class="row" ng-show="shouldShowNoGamesMessage()">
        <p>You have no games. Want to start a new one?</p>
    </div>

    <div class="row">
        <div ng-repeat="category in gamesByCategory" class="small-3 columns">
            <h3 class="win-type-x-large category-name">{{category.name}}</h3>
            <win-list-view item-data-source="category.games" layout="{ type: listLayout }">
                <win-item-template>
                    <!-- We need to set the size on this elem, not a child, so unfortunately .game-list-entry must be applied here. -->
                    <div game-list-entry game="item.data.game" game-id="item.data.id" class="game-list-entry"></div>
                </win-item-template>
            </win-list-view>
        </div>
    </div>
</div>

<div class="row after-games">
    <div class="small-4 small-centered columns">
        <!-- TODO it would be nice to use an icon here. -->
        <button ng-click="goToNewGame()" class="win-type-x-large">New game</button>
    </div>
</div>
