.player-info {

	@mixin hide() {
		display: none;
	}

	@media #{$small-up} {

		@include grid-row();

		.player-info-section {
			/* The content will wrap unless I set collapse: true. Why? */
			@include grid-column(
				$columns: 4,
				$collapse: true
			);
		}

		.user-avatar {
			@include hide();
		}
	}

	@media #{$large-up} { 
		.player-info-section {
			
			@include grid-row();

			.player-info-entry {
				@include grid-column(
					$columns: 12
				);
			}

			.user-name {
				@include hide();
			}
		}
	}
	
	text-align: center;

	@mixin isTurnBorder($opacity) {
		border: 10px solid rgba(0, 100, 0, $opacity)
	}

	.is-turn {
		@include isTurnBorder(0);	

		.user-avatar {
			@include isTurnBorder(1);
		}
		p {
			@include isTurnBorder(1);
		}
	}

}