<div class="player-info">
    <div class="player-info-section">
        <div class="player-info-entry" ng-class="{'is-turn': isTurn()}">
            <img ng-src="{{player.avatarUri}}" class="user-avatar" />
        </div>
    </div>
    <div class="player-info-section" ng-if="capturedPieces">
        <div class="player-info-entry">
            <p>K: {{capturedPieces.knight}}</p>
        </div>
    </div>
    <div class="player-info-section" ng-if="capturedPieces">
        <div class="player-info-entry">
            <p>P: {{capturedPieces.pawn}}</p>
        </div>
    </div>
</div>
